<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script></head>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">BlogSite</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/blog_post/">Блог</a></li>
            <li><a href="#">Обо мне</a></li>
          </ul>
        </div>
      </nav>
      <div>Здесь будет страница "Обо мне"</div>
    
    
</body>
</html>