<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script></head>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">BlogSite</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/blog_post/">Блог</a></li>
            <li><a href="{% url 'about' %}">Обо мне</a></li>
          </ul>
        </div>
      </nav>

    <h1>Posts</h1>
    <div class=""></div>
    <div style="
        margin-top: 30px;
        width: 1280px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 40px;
        padding-left: 100px;
        padding-right: 0px;

    ">
        {% for p in posts %}
        <div style="
            border-radius: 10px;
            border: double;
        ">
            <h2>{{ p.nickname }}</h2>
            <p><a href="{% url 'by_post' p.pk %}">{{ p.content }}</a></p>
            <p><a href="{% url 'by_rubric' p.rubric.pk %}">
                {{ p.rubric.name }}
            </a></p>
            <p>Опубликовано: {{ p.published|date:"d.m.Y H:i:s" }}</p>
        </div>
        {% endfor %}
    </div>
    
</body>
</html>
